/*
page background and item background color: #d8d8d8
login background color: #cccccc
login border: 5px solid #cccccc radius:25px
menu and other links/buttons background color: #999999
menu and other links/buttons border: 5px radius:15px
menu and other links/buttons hover background color: #f2f2f2 
column border:  5px solid #cccccc radius:25px
column title and columnItemContainer background color: #cccccc
column title and columnItemContainer border: 5px solid #cccccc radius:25px
item border: 5px solid #808080 radius:15px
*/

tr {
	width: 600px;
	heigth: 100px;
    padding: 10px;
    margin: 5px;
}

tr > td {
    bacground-color: #cccccc;
    border-radius: 25px;
    text-align: center;
}



.usersListEmail {
	width: 200px;
	color: blue;
	margin: 5px;
	padding: 10px;
}


.usersListLoginLink {
	
	width: 200px;
	display: block;
	float: left;
	margin: 5px;
	padding: 10px;
	color: #cccccc;
	background-color: #999999;
	border-width: 5px;
	border-radius: 15px;
	text-align: center;
	text-decoration: none;	
}

.usersListLoginLink:hover {
	border-radius: 15px;
	background-color: #f2f2f2;
}

.usersListModificationLink {
	width: 100px;
	display: block;
	float: left;
	margin: 5px;
	padding: 10px;
	color: #000000;
	background-color: #999999;
	border-width: 5px;
	border-radius: 15px;
	text-align: center;
	text-decoration: none;	
}

.usersListModificationLink:hover {
	border-radius: 15px;
	background-color: #f2f2f2;
}